<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
    <h1 class="display-4"> Welcome to {{ title }}!</h1>
    <p class="lead">
        This is a demonstration of reusable angular v6 components provided by 'ng-pluggables' package by <a href="https://ashishswami22.com"
            target="_blank">Ashish Swami</a>.
    </p>
    <div class="links">
        <a href="https://www.npmjs.com/package/ng-pluggables" target="_blank">
            <fa name="download"></fa> npm package
        </a>
        <a href="https://github.com/ashishswami22/ng-pluggables" target="_blank">
            <fa name="github"></fa> components source
        </a>
        <a href="https://github.com/ashishswami22/ng-pluggables-demo" target="_blank">
            <fa name="github"></fa> demo application source
        </a>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4">
            <h5 class="card-title">Number Internationalization</h5>
            <div class="card">
                <div class="component" style="text-align: left">
                    <input class="form-control" type="text" [(ngModel)]="numberI18nSample" (focus)="$event.target.select()">
                    <br /> Hindi:
                    <ng-pluggable-number-i18n [value]="numberI18nSample" [selectedLocale]="'hi-IN'"></ng-pluggable-number-i18n>
                    <br /> Kannada:
                    <ng-pluggable-number-i18n [value]="numberI18nSample" [selectedLocale]="'ka-IN'"></ng-pluggable-number-i18n>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Digit by digit translation of number from English to other language.
                        RTL languages and languages which do not follow digit by digit logic throughout (e.g.
                        Japanese), are not supported yet.
                        <br />
                        By default, the component supports a few locales which you can test by passing locale name in
                        [selectedLocale] input and the number to be translated in [value] input.
                        <br />
                        You can also pass the locales data by yourself as part of optional
                        <a href="assets/number-i18n-input-locales.txt" target="_blank">[locales]</a>
                        input.
                    </p>

                    <div class="alert alert-secondary usage" role="alert">
                        &lt;ng-pluggable-number-i18n
                        [locales]=&quot;locales&quot;&gt;<br />
                        [value]=&quot;value&quot;&gt;<br />
                        [selectedLocale]=&quot;&apos;hi-IN&apos;&quot;&gt;<br />
                        &lt;/ng-pluggable-number-i18n&gt;
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4">
            <h5 class="card-title">Currency Converter</h5>
            <div class="card">
                <div class="component">
                    <ng-pluggable-currency-converter></ng-pluggable-currency-converter>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Select any two currencies, to start with, and quickly check conversion between them.
                        You can also keep adding more currencies and get all the converted values at once.
                        <br />
                        By default, the component fetches currency coversion rates from
                        <a href="https://api.exchangeratesapi.io/latest?base=INR" target="_blank">this url</a>.
                        You can also pass the currency data by yourself as part of optional
                        <a href="assets/currency-converter-input-config.txt" target="_blank">[config]</a>
                        input.
                    </p>

                    <div class="alert alert-secondary usage" role="alert">
                        &lt;ng-pluggable-currency-converter
                        [config]=&quot;config&quot;&gt;<br />
                        &lt;/ng-pluggable-currency-converter&gt;
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4">
            <h5 class="card-title">Microphone</h5>
            <div class="card">
                <div class="component">
                    <ng-pluggable-microphone (recognize)="processAudioBlob($event)" style="margin-left: -90px">
                        <button class="btn btn-secondary microphone">
                            <fa name="microphone"></fa>
                        </button>
                    </ng-pluggable-microphone>
                    <audio class="recorded" #audioplayer controls></audio>
                </div>
                <div class="card-body">
                    <p class="card-text">Click the microphone, hold it and speak to record your voice. It emits an
                        event "recognize" which contains the audio blob. You can pass that audio to a speech
                        recognition API. You can use online speech recognition services by <a target="_blank" href="https://cloud.google.com/speech-to-text/docs/">Google</a>,
                        <a target="_blank" href="https://azure.microsoft.com/en-in/services/cognitive-services/speech/">Microsoft</a>,
                        <a target="_blank" href="https://aws.amazon.com/transcribe/">Amazon</a>, etc. or create your
                        own speech-to-text API.</p>

                    <div class="alert alert-secondary usage" role="alert">

                        &lt;ng-pluggable-microphone (recognize)="processAudioBlob($event)"&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;button class="btn btn-secondary microphone"&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;fa name="microphone"&gt;&lt;/fa&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/button&gt;
                        <br /> &lt;/ng-pluggable-microphone&gt;
                        <br />

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <h5 class="card-title">Analog Clock</h5>
            <div class="card">
                <div class="component row">
                    <div class="col-md-4">
                        India:<br />
                        <ng-pluggable-analog-clock [size]="90" [gradiantA]="'#00FFFF'" [gradiantB]="'black'"></ng-pluggable-analog-clock>
                    </div>
                    <div class="col-md-4">
                        UTC:<br />
                        <ng-pluggable-analog-clock [size]="90" [gradiantA]="'#FF8923'" [gradiantB]="'#FFF'"
                            [timezoneOffsetInMinutes]="0"></ng-pluggable-analog-clock>
                    </div>
                    <div class="col-md-4">
                        Japan:<br />
                        <ng-pluggable-analog-clock [size]="90" [gradiantA]="'#FFFF00'" [gradiantB]="'#00AA00'"
                            [timezoneOffsetInMinutes]="540"></ng-pluggable-analog-clock>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Simple analog clock. Currently only size is configurable in pixels. Supports configuration for
                        timezone and color scheme.
                    </p>
                    <div class="alert alert-secondary usage" role="alert">
                        &lt;ng-pluggable-analog-clock [size]="90" [gradiantA]="'#FFFF00'" [gradiantB]="'#00AA00'"
                        [timezoneOffsetInMinutes]="540"&gt;&lt;/ng-pluggable-analog-clock&gt;
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>