<!--The content below is only a placeholder and can be replaced.-->
<h1 style="text-align:center">
    Welcome to {{ title }}!
</h1>

<table cellpadding="25px">
    <tr style="vertical-align: top">
        <td>
            <h2 style="text-align:center">Analog Clock</h2>
            <ng-pluggable-analog-clock [size]="200"></ng-pluggable-analog-clock>
        </td>
        <td>
            <h2 style="text-align:center">Microphone</h2>
            Component:
            <ng-pluggable-microphone (recognize)="processAudioBlob($event)"></ng-pluggable-microphone>
            <br/><br/> Audio captured by the component:<br/>
            <audio #audioplayer controls></audio>
        </td>
    </tr>
</table>