.card {
    text-align: center;
}

.card-title {
    padding-top: 10px;
}

.card-text {
    text-align: left;
    font-size: 0.95em;
}

.card .usage {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.85em
}

.card .component {
    min-height: 50px;
    padding: 10px;
}

::ng-deep ng-pluggable-microphone {
    width: 50px;
}

::ng-deep ng-pluggable-microphone div {
    display: inline-block;
}

.recorded {
    width: 160px;
    margin-left: 10px;
    vertical-align: middle;
}

.jumbotron {
    padding: 10px;
    text-align: center
}

.jumbotron .links a {
    font-size: 0.9em;
    margin-right: 25px;
}