<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
    <h1 class="display-4"> Welcome to {{ title }}!</h1>
    <p class="lead">
        This is a demonstration of reusable angular v6 components provided by 'ng-pluggables' package by <a href="https://ashishswami22.com" target="_blank">Ashish Swami</a>.
    </p>
    <div class="links">
        <a href="https://www.npmjs.com/package/ng-pluggables" target="_blank">
            <fa name="download"></fa> npm package</a>
        <a href="https://github.com/ashishswami22/ng-pluggables" target="_blank">
            <fa name="github"></fa> components source</a>
        <a href="https://github.com/ashishswami22/ng-pluggables-demo" target="_blank">
            <fa name="github"></fa> demo application source</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="component row">
                    <div class="col-md-4">
                        India:<br/>
                        <ng-pluggable-analog-clock [size]="90" [gradiantA]="'#00FFFF'" [gradiantB]="'black'"></ng-pluggable-analog-clock>
                    </div>
                    <div class="col-md-4">
                        UTC:<br/>
                        <ng-pluggable-analog-clock [size]="90" [gradiantA]="'#FF8923'" [gradiantB]="'#FFF'" [timezoneOffsetInMinutes]="0"></ng-pluggable-analog-clock>
                    </div>
                    <div class="col-md-4">
                        Japan:<br/>
                        <ng-pluggable-analog-clock [size]="90" [gradiantA]="'#FFFF00'" [gradiantB]="'#00AA00'" [timezoneOffsetInMinutes]="540"></ng-pluggable-analog-clock>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Analog Clock</h5>
                    <p class="card-text">
                        Simple analog clock. Currently only size is configurable in pixels. Supports configuration for timezone and color scheme.
                    </p>
                    <div class="alert alert-secondary usage" role="alert">
                        &lt;ng-pluggable-analog-clock [size]="90" [gradiantA]="'#FFFF00'" [gradiantB]="'#00AA00'" [timezoneOffsetInMinutes]="540"&gt;&lt;/ng-pluggable-analog-clock&gt;
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="component">
                    <ng-pluggable-microphone (recognize)="processAudioBlob($event)" style="margin-left: -90px">
                        <button class="btn btn-secondary microphone">
                            <fa name="microphone"></fa>
                        </button>
                    </ng-pluggable-microphone>
                    <audio class="recorded" #audioplayer controls></audio>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Microphone</h5>
                    <p class="card-text">Click the microphone, hold it and speak to record your voice. It emits an event "recognize" which contains the audio blob. You can pass that audio to a speech recognition API. You can use online speech recognition services by <a target="_blank"
                            href="https://cloud.google.com/speech-to-text/docs/">Google</a>,
                        <a target="_blank" href="https://azure.microsoft.com/en-in/services/cognitive-services/speech/">Microsoft</a>,
                        <a target="_blank" href="https://aws.amazon.com/transcribe/">Amazon</a>, etc. or create <a target="_blank" href="https://github.com/ashishswami22/demo-apis/blob/master/src/main/java/com/ashishswami22/demoapis/controllers/STTController.java">your own STT API like me</a>.</p>

                    <div class="alert alert-secondary usage" role="alert">

                        &lt;ng-pluggable-microphone (recognize)="processAudioBlob($event)"&gt;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&lt;button class="btn btn-secondary microphone"&gt;<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;fa name="microphone"&gt;&lt;/fa&gt;<br/>                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;/button&gt;
                        <br/> &lt;/ng-pluggable-microphone&gt;
                        <br/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>